<div id="container">
    <app-pending class="h-100" [textInput]="'cardOut' | translate" [hidden]="!replaceFail" (click)="navigateToLogin()" [colorCode]="0" ></app-pending>
    <app-pending class="h-100" [textInput]="'againPasswordSuccess' | translate" [hidden]="!replaceSuccess2" (click)="navigateToLogin()"></app-pending>
    <app-pending class="h-100" [textInput]="'transactionProcessing' | translate" [hidden]="!replaceSuccess" ></app-pending>
    <app-pending class="h-100" [textInput]="'againPasswordFail' | translate" [hidden]="!replaceAgain" (click)="enterAgain()" ></app-pending>
    <div [hidden]="replaceFail || replaceSuccess || replaceAgain || replaceSuccess2">
        <pre>{{'againPassword' | translate}}</pre>
        <app-enter-pin (cancelEvent)="cancelEvent($event)" (submitEvent)="submitEvent($event)" ></app-enter-pin>
    </div>
</div>