<div id="container">
    <pre id="title" [hidden]="replace" >{{'selectMoneyTitle' | translate}}</pre>
    <div class="noselect" [hidden]="replace">
        <div (click) = "selectMoney(100000)">
            <p>100,000</p>
        </div>
        <div (click) = "selectMoney(200000)">
            <p>200,000</p>
        </div>
        <div (click) = "selectMoney(500000)">
            <p>500,000</p>
        </div>
        <div (click) = "selectMoney(1000000)">
            <p>1,000,000</p>
        </div>
        <div (click) = "selectMoney(2000000)">
            <p>2,000,000</p>
        </div>
        <div (click) = "selectMoney(3000000)">
            <p>3,000,000</p>
        </div>
        <div (click) = "selectMoney(5000000)">
            <p>5,000,000</p>
        </div>
        <div (click) = "selectOtherAmount()">
            <p>{{'selectMoney.otherAmount' | translate}}</p>
        </div>
    </div>
    <app-pending class="h-100" [textInput]="'transactionProcessing' | translate" [hidden]="!replace" #replaceComponent></app-pending>
</div>