<div id="container">
    <app-pending class="h-100" [textInput]="'cardOut' | translate" [hidden]="!replaceFail" (click)="navigateToLogin()" [colorCode]="0" ></app-pending>
    <app-pending class="h-100" [textInput]="'wrongPin' | translate" [hidden]="!replaceFail2" (click)="navigateToLogin()" [colorCode]="0" ></app-pending>
    <app-pending class="h-100" [textInput]="'transactionProcessing' | translate" [hidden]="!replaceSuccess" ></app-pending>
    <div [hidden]="replaceFail || replaceSuccess || replaceFail2">
        <pre>{{'validatePin' | translate:_userInfo}}</pre>
        <div id="inputBox">
            <div>
                <p>{{show}}<span>{{blink}}</span><span>{{blank}}</span></p>
            </div>
            <app-numpad (numpadSignal)="numpadTrigger($event)" (deleteSignal)="deleteTrigger($event)" (cancelSignal)="cancelTrigger($event)" (submitSignal)="submitTrigger($event)"></app-numpad>
        </div>
    </div>
</div>