.invoice-box {
    max-width: 500px;
    height: 100%;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    background: whitesmoke;
}

img{
    height: 100%;
}

.receipt-header{
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.receipt-body{
    height: 60%;
}

.receipt-footer{
    height: 20%;
    text-align: center;
}

