<div id="container">
    <app-pending class="h-100" [textInput]="'wrongPin' | translate" [hidden]="!replaceFail2" (click)="navigateToLogin()" [colorCode]="0" ></app-pending>
    <app-pending class="h-100" [textInput]="'cardOut' | translate" [hidden]="!replaceFail" (click)="navigateToLogin()" [colorCode]="0" ></app-pending>
    <app-pending class="h-100" [textInput]="'transactionProcessing' | translate" [hidden]="!replaceSuccess" ></app-pending>
    <div [hidden]="replaceFail || replaceSuccess || replaceFail2">
        <pre>{{'oldPassword' | translate}}</pre>
        <app-enter-pin (cancelEvent)="cancelEvent($event)" (submitEvent)="submitEvent($event)" ></app-enter-pin>
    </div>
</div>