#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#container > div{
    height: 100%;
}
pre {
    height: 20%;
    margin: 10px 0 0 0;
    text-align: center;
    white-space: pre-line;
}

#inputBox {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#inputBox > div {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    width: 35%;
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;
    background: white;
    border: 5px solid;
}

// span{
//     border-left: 5px solid;
// }

// app-numpad {
//     height: 55%;
// }
