<div id="container">
    <app-pending class="h-100 w-100" [textInput]="'transactionProcessing' | translate"  [hidden]="!replace" ></app-pending>
    <app-pending class="h-100 w-100" [textInput]="'wrongCard' | translate" [colorCode]="0" [hidden]="!replaceFail" (click)="navigateToLogin()" ></app-pending>
    <p [hidden]="replace || replaceFail">{{dateTime}}</p>
    <p [hidden]="replace || replaceFail">{{'welcomeMessage' | translate}}</p>
    <div [hidden]="replace || replaceFail">
        <ngx-dropzone class="w-25 h-75" (change)="onSelect($event)" [multiple]="false">
            <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
            <ngx-dropzone-preview *ngIf="file" [removable]="true" (removed)="onRemove(file)" class="w-100 h-100">
                <ngx-dropzone-label >{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
    </div>
</div>
