/* You can add global styles to this file, and also import other style files */

html { height: 100vh; margin: 0; padding: 0; }
body { margin: 0; 
    padding: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow-y: hidden;
    font-size: 5px;
}

.span-spacer {
    flex: 1 1 auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
  
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
