<div id="container">
    <pre id="title" >{{'selectServiceTitle' | translate}}</pre>
    <div>
        <div (click) = "navigateSelectMoney()">
            <pre>{{'selectService.withdrawMoney' |translate}}</pre>
        </div>
        <div (click) = "select()">
            <pre>{{'selectService.viewBalance' |translate}}</pre>
        </div>
        <div>
            <pre></pre>
        </div>
        <div (click) = "select()">
            <pre>{{'selectService.changePassword' |translate}}</pre>
        </div>
        <div>
            <pre></pre>
        </div>
        <div>
            <pre></pre>
        </div>
    </div>
</div>