<div id="container">
    <app-pending class="h-100" [textInput]="'transactionProcessing' | translate" [hidden]="!replace" ></app-pending>
    <p id="title" [hidden]="replace">{{'selectServiceTitle' | translate}}</p>
    <div [hidden]="replace" class="noselect">
        <div (click) = "navigateSelectMoney()">
            <p>{{'selectService.withdrawMoney' |translate}}</p>
        </div>
        <div (click) = "navigateCheckAccountBalance()">
            <p>{{'selectService.viewBalance' |translate}}</p>
        </div>
        <div>
            <p></p>
        </div>
        <div (click) = "navigateChangepassword()">
            <p>{{'selectService.changePassword' |translate}}</p>
        </div>
        <div (click) = "navigateTransfer()">
            <p>{{'selectService.transferMoney' |translate}}</p>
        </div>
        <div>
            <p></p>
        </div>
    </div>
</div>